.heading{
    width: 100%;
    text-align: left;
}
.heading button{
    float:right;
    border:3px solid white;
    color:white;
}
.heading h3{
    display:inline;
}
.big_img{
    width: 100%;
}
#start ,#status{
    font-size: 22px;
}
.modal-dialog{
    width: 90%;
}
.image-move{
    display:inline-block;
    width: 45%;
}
video{
    background:url ('game_console.png');
    background-size:cover;
    background-position:center;
    padding:25 px;
}